<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Password Reset</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
  </head>
  <body>
    <div class="container">
      <section id="content">
        {% if validlink %}
        <p>enter your new password twice.</p>
        <form action="." method="post">
          {% csrf_token %}
          {{form.as_p}}
          <input type="submit" value="change my password">
        </form>
        {% else %}
        <p>the password link is invalid.Please request a new password reset.</p>
        {% endif %}
      </section>
    </div>
  </body>
</html>
