<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Password Reset</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
  </head>
  <body>
    <div class="container">
      <section id="content">
        <p>enter your email address to obtain a new password</p>
        <form action="." method="post">
          {% csrf_token %}
          {{form.as_p}}
          <input type="submit" value="send email">
        </form>
      </section>
    </div>
  </body>
</html>
