<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>success</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
  </head>
  <body>

    <div class="container">
      <section id="content">
        {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
      {% csrf_token %}
      <a href="{% url 'lgout' %}">logout</a>
      </section>

    </div>

  </body>
</html>
